<form method="post" action="{{ path('device_property_delete', {'id': device_property.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ device_property.id) }}">
    <button class="btn">Delete</button>
</form>