{% extends 'base.html.twig' %}

{% block title %}Edit DeviceProperty{% endblock %}

{% block body %}
    <div class="row space1">
        <div class="panel panel-default">

            <div class="panel-heading">
                Update current property
                <span class="pull-right clickable panel-toggle panel-button-tab-left"><em
                            class="fa fa-toggle-up"></em></span>
            </div>
            <div class="panel-body">

                <div class="col-md-6">

                    {{ form_start(form) }}
                    <div class="space1">

                        <label class="space2">
                            Title
                        </label>
                        {{ form_widget(form.title) }}
                    </div>
                    <div class="space1 green">
                        <label class="space2">
                            Choose type of device
                        </label>

                        {{ form_widget(form.deviceType) }}
                    </div>

                    <div class="space">

                        <button class="btn btn-success">{{ button_label|default('Update') }}</button>
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>

        </div>


    </div>
{% endblock %}