{% extends 'base.html.twig' %}

{% block title %}DeviceProperty index{% endblock %}

{% block body %}



    <div class="col-md-6">


        <h1>Properties list</h1>
        <a href="{{ path('device_property_new') }}" class="btn btn-pull-right">
            <button class="btn btn-sm btn-success"><em class="glyphicon glyphicon-plus"></em>Add property</button>
        </a>

        <table class="table table-striped">
            <thead>
            <tr>

                <th scope="col">#</th>

                <th scope="col">Title</th>
                <th scope="col">Type of device</th>

                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for device_property in device_properties %}
                <tr>

                    <td scope="row">{{ device_property.id }}</td>
                    <td>{{ device_property.title }}</td>
                    <td>{{ device_property.deviceType.title }}</td>



                    <td>
                        <a href="{{ path('device_property_show', {'id': device_property.id}) }}">
                            <button class="btn btn-sm btn-info"><em class="fa fa-share"></em>View</button>
                        </a>
                        <a href="{{ path('device_property_edit', {'id': device_property.id}) }}">
                            <button class="btn btn-sm btn-warning"><em class="fa fa-pencil-square-o"></em>Edit</button>
                        </a>


                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}