{% extends 'base.html.twig' %}

{% block title %}DeviceProperty{% endblock %}

{% block body %}
    <h1>DeviceProperty</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ device_property.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ device_property.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('device_property_index') }}">back to list</a>

    <a href="{{ path('device_property_edit', {'id': device_property.id}) }}">edit</a>

    {{ include('device_property/_delete_form.html.twig') }}
{% endblock %}