{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
<ul>

       {% for author in authors %}
     <a href="{{ path('author_show', {'id': author.id}) }}">
         <li> {{ author.lastName }} {{ author.firstName }} Created: {{ author.created | date("m/d/Y") }}</li>
     </a>



       {% endfor %}

</ul>


    </div>
{% endblock %}
