{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <ul>
    <div class="example-wrapper">
        <li> Last name: {{ author.LastName }}</li>
        <li> First name: {{ author.FirstName }} </li>
        <li> Comment: {{ author.comment }}</li>
        <li> Created: {{ author.created | date("m/d/Y") }}</li>
        <a href="{{ path('author_edit', {'id': author.id}) }}">
            <button> Edit </button>
        </a>
        <a href="{{ path('author_delete', {'id': author.id}) }}">
            <button> Delete </button>
        </a>


    </div>
    </ul>
{% endblock %}
