{% extends 'base.html.twig' %}

{% block title %}Invoice index{% endblock %}

{% block body %}



    <div class="col-md-12">


        <h1>Invoice list</h1>
        <a href="{{ path('invoice_new') }}" class="btn btn-pull-right">
            <button class="btn btn-sm btn-success"><em class="glyphicon glyphicon-plus"></em>Add invoice</button>
        </a>

        <table class="table table-striped">
            <thead>
            <tr>

                <th scope="col">#</th>

                <th scope="col">Title</th>
                <th scope="col">Created</th>
                <th scope="col">Updated</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for invoice in invoices %}
                <tr>

                    <td scope="row">{{ invoice.id }}</td>
                    <td>{{ invoice.title }}</td>
                    <td>{{ invoice.created|date('d') }} {{ invoice.created|date('M') }} {{ invoice.created|date('Y') }}</td>
                    {% if invoice.updated %}
                        <td>{{ invoice.updated|date('d') }} {{ invoice.updated|date('M') }} {{ invoice.updated|date('Y') }}</td>
                    {% else %}
                        <td>{{ '' }}</td>
                    {% endif %}

                    <td>
                        <a href="{{ path('invoice_show', {'id': invoice.id}) }}">
                            <button class="btn btn-sm btn-info"><em class="fa fa-share"></em>View</button>
                        </a>
                        <a href="{{ path('invoice_edit', {'id': invoice.id}) }}">
                            <button class="btn btn-sm btn-warning"><em class="fa fa-pencil-square-o"></em>Edit</button>
                        </a>


                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}