{% extends 'base.html.twig' %}

{% block title %}Edit Device{% endblock %}

{% block body %}


    <div class="row space1">

        <div class="panel panel-default">

            <div class="panel-heading">
                Create new device
            </div>
            <div class="panel-body">

                <div class="col-md-3">

                    <div class="space1 green">
                        <label class="space2"> Choose Employee</label>
                    </div>

                    <div class="space1">

                        <label class="space2">
                            Choose type of device
                        </label>
                    </div>
                    <div class="space1 green">

                        <label class="space2">
                            Choose manufacturer
                        </label>
                    </div>
                    <div class="space1 green">
                        <label class="space2"> Model</label>
                    </div>

                    <div class="space1 green">
                        <label class="space2"> Choose state</label>
                    </div>

                    <div class="space1 green">
                        <label class="space2"> Choose invoice</label>
                    </div>

                    <div class="space1 green">
                        <label class="space2"> Price</label>
                    </div>

                </div>
                <div class="col-md-3">
                    {{ form_start(form) }}
                    <div class="space1 green">
                        {{ form_widget(form.employee) }}
                    </div>

                    <div class="space1">
                        {{ form_widget(form.typeDevice) }}
                    </div>
                    <div class="space1 green">
                        {{ form_widget(form.manufacturer) }}
                    </div>
                    <div class="space1 green">
                        {{ form_widget(form.model) }}
                    </div>
                    <div class="space1 green">
                        {{ form_widget(form.state) }}
                    </div>

                    <div class="space1 green">
                        {{ form_widget(form.invoice) }}
                    </div>

                    <div class="space1 green">
                        {{ form_widget(form.price) }}
                    </div>


                    <div class="space">

                        <button class="btn btn-success">{{ button_label|default('Update') }}</button>
                    </div>

                    {{ form_end(form) }}

                </div>
            </div>

        </div>

    </div>
    </div>




{% endblock %}