{% extends 'base.html.twig' %}

{% block title %}Devices{% endblock %}

{% block body %}

    <div class="col-md-12">


        <h1>Devices list</h1>
        <a href="{{ path('device_new') }}" class="btn btn-pull-right">
            <button class="btn btn-sm btn-success"><em class="glyphicon glyphicon-plus"></em>Add device</button>
        </a>

        <table class="table table-striped">
            <thead>
            <tr>

                <th  scope="col">#</th>
                <th  scope="col">Type Device</th>
                <th  scope="col">Manufacturer</th>
                <th  scope="col">Model</th>
                <th  scope="col">Price</th>
                <th  scope="col">State</th>
                <th  scope="col">Employee</th>

                <th  scope="col">Created</th>
                <th  scope="col">Updated</th>


                <th  scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for device in devices %}
                <tr>

                    <td scope="row">{{ device.id }}</td>
                    <td>{{ device.typeDevice.title }}</td>
                    <td>{{ device.manufacturer.title }}</td>
                    <td>{{ device.model }}</td>
                    <td>{{ device.price }}</td>
                    <td>{{ device.state.title }}</td>
                    <td>{{ device.employee.firstName }} {{ device.employee.lastName }}</td>
                    <td>{{ device.created|date('d') }} {{ device.created|date('M') }} {{ device.created|date('Y') }}</td>
                    {% if device.updated %}
                        <td>{{ device.updated|date('d') }} {{ device.updated|date('M') }} {{ device.updated|date('Y') }}</td>
                    {% else %}
                        <td>{{ '' }}</td>
                    {% endif %}

                    <td>
                        <a href="{{ path('device_show', {'id': device.id}) }}">
                            <button class="btn btn-sm btn-info"><em class="fa fa-share"></em>View</button>
                        </a>
                        <a href="{{ path('device_edit', {'id': device.id}) }}">
                            <button class="btn btn-sm btn-warning"><em class="fa fa-pencil-square-o"></em>Edit</button>
                        </a>


                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {#<h1>Device index</h1>#}

    {#<table class="table">#}
        {#<thead>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<th>Type Device</th>#}
                {#<th>Manufacturer</th>#}
                {#<th>Model</th>#}
                {#<th>Price</th>#}
                {#<th>State</th>#}
                {#<th>Employee</th>#}
                {#<th>actions</th>#}
            {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for device in devices %}#}
            {#<tr>#}
                {#<td>{{ device.id }}</td>#}
                {#<td>{{ device.typeDevice.title }}</td>#}
                {#<td>{{ device.manufacturer.title }}</td>#}
                {#<td>{{ device.model }}</td>#}
                {#<td>{{ device.price }}</td>#}
                {#<td>{{ device.state.title }}</td>#}
                {#<td>{{ device.employee.firstName }}</td>#}
                {#<td>{{ device.employee.lastName }}</td>#}

                {#<td>#}
                    {#<a href="{{ path('device_show', {'id': device.id}) }}">show</a>#}
                    {#<a href="{{ path('device_edit', {'id': device.id}) }}">edit</a>#}
                {#</td>#}
            {#</tr>#}
        {#{% else %}#}
            {#<tr>#}
                {#<td colspan="4">no records found</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

    {#<a href="{{ path('device_new') }}">Create new</a>#}
{% endblock %}