{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block body %}
      <div class="row">
            <div class="col-md-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Create your Daily task
                        <span class="pull-right clickable panel-toggle panel-button-tab-left"><em
                                    class="fa fa-toggle-up"></em></span></div>
                    <div class="panel-body">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button class="btn">{{ button_label|default('Save') }}</button>
                        {{ form_end(form) }}
                        <a href="{{ path('task_index') }}">back to list</a>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}