{% extends 'base.html.twig' %}

{% block title %}Manufacturer index{% endblock %}

{% block body %}


        <div class="col-md-12">
            <div class="">
                <h1>Manufacturers list</h1>

            </div>

            <a href="{{ path('manufacturer_new') }}" class="btn btn-pull-left">
                <button class="btn btn-sm btn-success"><em class="glyphicon glyphicon-plus"></em>Add manufacturer
                </button>
            </a>
            <table class="table table-striped">
                <thead>
                <tr>

                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Created</th>
                    <th scope="col">Updated</th>

                    <th scope="col">Actions</th>

                </tr>
                </thead>
                <tbody>
                {% for manufacturer in manufacturers %}
                    <tr>

                        <td scope="row">{{ manufacturer.id }}</td>
                        <td>{{ manufacturer.title }}</td>
                        <td>{{ manufacturer.created|date('d') }} {{ manufacturer.created|date('M') }} {{ manufacturer.created|date('Y') }}</td>
                        {% if manufacturer.updated %}
                            <td>{{ manufacturer.updated|date('d') }} {{ manufacturer.updated|date('M') }} {{ manufacturer.updated|date('Y') }}</td>
                        {% else %}
                            <td>{{ '' }}</td>
                        {% endif %}


                        <td>
                            <a href="{{ path('manufacturer_show', {'id': manufacturer.id}) }}">
                            <button class="btn btn-sm btn-info"><em class="fa fa-share"></em>View</button>
                            </a>
                            <a href="{{ path('manufacturer_edit', {'id': manufacturer.id}) }}">
                            <button class="btn btn-sm btn-warning"><em class="fa fa-pencil-square-o"></em>Edit</button>
                            </a>


                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {#<h1>Manufacturer index</h1>#}

    {#<table class="table">#}
    {#<thead>#}
    {#<tr>#}
    {#<th>Id</th>#}
    {#<th>Title</th>#}
    {#<th>Created</th>#}
    {#<th>Updated</th>#}
    {#<th>actions</th>#}
    {#</tr>#}
    {#</thead>#}
    {#<tbody>#}
    {#{% for manufacturer in manufacturers %}#}
    {#<tr>#}
    {#<td>{{ manufacturer.id }}</td>#}
    {#<td>{{ manufacturer.title }}</td>#}
    {#<td>{{ manufacturer.created ? manufacturer.created|date('Y-m-d H:i:s') : '' }}</td>#}
    {#<td>{{ manufacturer.updated ? manufacturer.updated|date('Y-m-d H:i:s') : '' }}</td>#}

    {#<td>#}
    {#<a href="{{ path('manufacturer_show', {'id': manufacturer.id}) }}">show</a>#}
    {#<a href="{{ path('manufacturer_edit', {'id': manufacturer.id}) }}">edit</a>#}
    {#</td>#}
    {#</tr>#}
    {#{% else %}#}
    {#<tr>#}
    {#<td colspan="3">no records found</td>#}
    {#</tr>#}
    {#{% endfor %}#}
    {#</tbody>#}
    {#</table>#}

    {#<a href="{{ path('manufacturer_new') }}">Create new</a>#}
{% endblock %}