{% extends 'base.html.twig' %}

{% block title %}Manufacturer{% endblock %}

{% block body %}
    <h1>Manufacturer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ manufacturer.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ manufacturer.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('manufacturer_index') }}">back to list</a>

    <a href="{{ path('manufacturer_edit', {'id': manufacturer.id}) }}">edit</a>

    {{ include('manufacturer/_delete_form.html.twig') }}
{% endblock %}