{% extends 'base.html.twig' %}
{% block title %} Dashboard {% endblock %}

{% block body %}


    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="example-wrapper">
        <h1>Homepage </h1>
    <ul>
    <li>
      <a href = "{{ path('author_create') }}"> Create author</a>
    </li>
        <li>
            <a href = "{{ path('article_index') }}"> Create article</a>
        </li>
        <li>
            <a href = "{{ path('manufacturer_index') }}"> Manufacturers</a>
        </li>
        <li>
            <a href = "{{ path('department_index') }}">Departments</a>
        </li>
        <li>
            <a href = "{{ path('invoice_index') }}">Invoices</a>
        </li>
        <li>
            <a href = "{{ path('employee_index') }}"> Employees</a>
        </li>
        <li>
            <a href = "{{ path('state_index') }}"> States</a>
        </li>
        <li>
            <a href = "{{ path('type_device_index') }}"> Device types</a>
        </li>
        <li>
            <a href = "{{ path('device_property_index') }}"> Device Property</a>
        </li>
        <li>
            <a href = "{{ path('device_index') }}"> Device</a>
        </li>







    </ul>
    </div>
{% endblock %}