{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}
{%  block stylesheets %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css ') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('fonts/login/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/animate/animate.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href=" {{ asset('vendor/css-hamburgers/hamburgers.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/select2/select2.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/login/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/login/main.css') }}">
    <link href="{{ asset('css/loader.css') }}" rel="stylesheet">

{% endblock %}

{% block navbar %}
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>

{% endblock %}

{% block sidebar %}


    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="images/login/img-01.png" alt="IMG">
                </div>

                <form class="login100-form validate-form" role="form" action="{{ path('login') }}" method="post">
					<span class="login100-form-title">
						INVENTORY ADMIN
					</span>
                    {% if errors %}
                        <div class="alert alert-danger">
                            <strong>Error!</strong> {{ errors.messageKey }}
                        </div>

                    {% endif %}

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="_username" data-email="required"
                               placeholder="Your username">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="_password" data-email="required" placeholder="Your password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button  type="submit" class="login100-form-btn">
                            Login
                        </button>
                    </div>

                    <div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
                        <a class="txt2" href="#">
                            Username / Password?
                        </a>
                    </div>

                    <div class="text-center p-t-136">
                        <a class="txt2" href="#">
                            Create your Account
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>




    {#<div class="row">#}
        {#<div class="col-md-12">#}
        {#<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">#}

            {#<div class="login-panel panel panel-default">#}
                {#<div class="panel-heading">Log in</div>#}
                {#<div class="panel-body">#}

                    {#{% if errors %}#}
                        {#<div class="alert alert-danger">#}
                            {#<strong>Error!</strong> {{ errors.messageKey }}#}
                        {#</div>#}

                    {#{% endif %}#}

                    {#<form role="form" action="{{ path('login') }}" method="post">#}
                        {#<fieldset>#}
                            {#<div class="form-group">#}
                                {#<input class="form-control" type="text" name="_username" data-email="required"#}
                                       {#placeholder="Your username" autofocus="">#}
                            {#</div>#}
                            {#<div class="form-group">#}
                                {#<input class="form-control" type="password" name="_password" data-email="required"#}
                                       {#placeholder="Your password">#}

                            {#</div>#}
                            {#<div class="checkbox">#}
                                {#<label>#}
                                    {#<input name="remember" type="checkbox" value="Remember Me">Remember Me#}
                                {#</label>#}
                            {#</div>#}
                            {#<button type="submit" class="btn btn-primary">Login</button>#}
                        {#</fieldset>#}
                    {#</form>#}
                {#</div>#}
            {#</div>#}
        {#</div><!-- /.col-->#}
    {#</div><!-- /.row -->#}
{% endblock %}

{% block body %}
{% endblock %}
