{% extends 'base.html.twig' %}

{% block title %}Edit State{% endblock %}

{% block body %}
    <div class="row space">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Edit current State
                    <span class="pull-right clickable panel-toggle panel-button-tab-left"><em
                                class="fa fa-toggle-up"></em></span>
                </div>
                <div class="panel-body">

                    {{ form_start(form) }}
                    <div class="space green">
                        {{ form_label(form.title) }}
                    </div>
                    <div class="space">

                        {{ form_widget(form.title) }}
                    </div>
                    <div class="space">

                        <button class="btn btn-success">{{ button_label|default('Update') }}</button>
                    </div>

                    {{ form_end(form) }}

                </div>
            </div>

        </div>


    </div>

{% endblock %}