{% extends 'base.html.twig' %}

{% block title %}State index{% endblock %}


{% block body %}

    <div class="col-md-12">


        <h1>States list</h1>
        <a href="{{ path('state_new') }}" class="btn btn-pull-right">
            <button class="btn btn-sm btn-success"><em class="glyphicon glyphicon-plus"></em>Add state</button>
        </a>

        <table class="table table-striped">
            <thead>
            <tr>

                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Created</th>
                <th scope="col">Updated</th>

                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for state in states %}
                <tr>

                    <td scope="row">{{ state.id }}</td>
                    <td>{{ state.title }}</td>
                    <td>{{ state.created|date('d') }} {{ state.created|date('M') }} {{ state.created|date('Y') }}</td>
                    {% if state.updated %}
                        <td>{{ state.updated|date('d') }} {{ state.updated|date('M') }} {{ state.updated|date('Y') }}</td>
                    {% else %}
                        <td>{{ '' }}</td>
                    {% endif %}


                    <td>
                        <a href="{{ path('state_show', {'id': state.id}) }}">
                            <button class="btn btn-sm btn-info"><em class="fa fa-share"></em>View</button>
                        </a>
                        <a href="{{ path('state_edit', {'id': state.id}) }}" >
                            <button class="btn btn-sm btn-warning"><em class="fa fa-pencil-square-o"></em>Edit</button>
                        </a>

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}