{% extends 'base.html.twig' %}

{% block title %}State{% endblock %}

{% block body %}
    <h1>State</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ state.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ state.title }}</td>

            </tr>
        <tr>
            <th>Created</th>

            <td>{{ state.created ? state.created|date('Y-m-d H:i:s') : '' }}</td>

        </tr>
        <tr>
            <th>Updated</th>

            <td>{{ state.updated ? state.updated|date('Y-m-d H:i:s') : '' }}</td>

        </tr>
        </tbody>
    </table>

    <a href="{{ path('state_index') }}">back to list</a>

    <a href="{{ path('state_edit', {'id': state.id}) }}">edit</a>

    {{ include('state/_delete_form.html.twig') }}
{% endblock %}