{% extends 'base.html.twig' %}

{% block title %}Department index{% endblock %}

{% block body %}

    <div class="col-md-12">


        <h1> Departments list</h1>
        <a href="{{ path('department_new') }}" class="btn btn-pull-right">
            <button class="btn btn-sm btn-success"><em class="glyphicon glyphicon-plus"></em>Add department</button>
        </a>

        <table class="table table-striped">
            <thead>
            <tr>

                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Created</th>
                <th scope="col">Updated</th>

                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for department in departments %}
                <tr>

                    <td scope="row">{{ department.id }}</td>
                    <td>{{ department.title }}</td>
                    <td>{{ department.created|date('d') }} {{ department.created|date('M') }} {{ department.created|date('Y') }}</td>
                    {% if department.updated %}
                        <td>{{ department.updated|date('d') }} {{ department.updated|date('M') }} {{ department.updated|date('Y') }}</td>
                    {% else %}
                        <td>{{ '' }}</td>
                    {% endif %}


                    <td>
                        <a href="{{ path('department_show', {'id': department.id}) }}">
                            <button class="btn btn-sm btn-info"><em class="fa fa-share"></em>View</button>
                        </a>
                        <a href="{{ path('department_edit', {'id': department.id}) }}" >
                            <button class="btn btn-sm btn-warning"><em class="fa fa-pencil-square-o"></em>Edit</button>
                        </a>
                        {#<a href="{{ path('department_delete', {'id': department.id}) }}">#}
                        {#<button class="btn btn-sm btn-danger"><em class="fa fa-trash-o"></em>Delete</button>#}
                        {#</a>#}


                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}