{% extends 'base.html.twig' %}

{% block title %}Department{% endblock %}

{% block body %}
    <h1>Department</h1>

    <div class="row space1 ">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Department info
                </div>
            </div>
        </div>
    </div>
    <div class="row space1 padding-left">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>
                        <b>Title  </b>{{ department.title }}
                    </div>
                    <div>
                        <b>Created on: </b>{{ department.created ? department.created|date('Y-m-d H:i:s') : '' }}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row space1 ">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Employees's list
                </div>
            </div>
        </div>
    </div>

    {% for employee in employees %}
        <div class="row space1 padding-left">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div>
                            <b>First name: </b>
                            {{ employee.firstName }}
                        </div>
                        <div>
                            <b>
                                LastName:
                            </b>
                            {{ employee.lastName }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        no records found
    {% endfor %}
{% endblock %}