{% extends 'base.html.twig' %}

{% block title %}Edit Employee{% endblock %}

{% block body %}

    <div class="row space1">
        <div class="panel panel-default">

            <div class="panel-heading">
                Edit employee
                <span class="pull-right clickable panel-toggle panel-button-tab-left"><em
                            class="fa fa-toggle-up"></em></span>
            </div>
            <div class="panel-body">

                <div class="col-md-6">

                    {{ form_start(form) }}
                    <div class="space1">

                        <label class="space2">
                            First name
                        </label>
                        {{ form_widget(form.firstName) }}
                    </div>
                    <div class="space1 green">

                        <label class="space2">
                            Last name
                        </label>
                        {{ form_widget(form.lastName) }}
                    </div>
                    <div class="space1 green">
                        {{ form_label(form.department) }}

                        {{ form_widget(form.department) }}
                    </div>

                    <div class="space">

                        <button class="btn btn-success">{{ button_label|default('Update') }}</button>
                    </div>

                    {{ form_end(form) }}

                </div>
            </div>

        </div>


    </div>
{% endblock %}