{% extends 'base.html.twig' %}

{% block title %}Employee index{% endblock %}

{% block body %}

    <div class="col-md-12">


        <h1>Employees list</h1>
        <a href="{{ path('employee_new') }}" class="btn btn-pull-right">
            <button class="btn btn-sm btn-success"><em class="glyphicon glyphicon-plus"></em>Add employee</button>
        </a>

        <table class="table table-striped">
            <thead>
            <tr>

                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Department</th>
                <th scope="col">Created</th>
                 <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for employee in employees %}
                <tr>

                    <td scope="row">{{ employee.id }}</td>
                    <td>{{ employee.firstName }}</td>
                    <td>{{ employee.lastName }}</td>
                    <td>{{ employee.department.title }}</td>


                    <td>{{ employee.created|date('d') }} {{ employee.created|date('M') }} {{ employee.created|date('Y') }}</td>



                    <td>
                        <a href="{{ path('employee_show', {'id': employee.id}) }}">
                            <button class="btn btn-sm btn-info"><em class="fa fa-share"></em>View</button>
                        </a>
                        <a href="{{ path('employee_edit', {'id': employee.id}) }}" >
                            <button class="btn btn-sm btn-warning"><em class="fa fa-pencil-square-o"></em>Edit</button>
                        </a>
                        {#<a href="{{ path('employee_delete', {'id': employee.id}) }}">#}
                        {#<button class="btn btn-sm btn-danger"><em class="fa fa-trash-o"></em>Delete</button>#}
                        {#</a>#}


                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {#<h1>Employee index</h1>#}

    {#<table class="table">#}
        {#<thead>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<th>FirstName</th>#}
                {#<th>LastName</th>#}
                {#<th>Title</th>#}
                {#<th>Created</th>#}
                {#<th>Updated</th>#}
                {#<th>actions</th>#}
            {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for employee in employees %}#}
            {#<tr>#}
                {#<td>{{ employee.id }}</td>#}
                {#<td>{{ employee.firstName }}</td>#}
                {#<td>{{ employee.lastName }}</td>#}
                {#<td>{{ employee.department.title }}</td>#}
                {#<td>{{ employee.created ? employee.created|date('Y-m-d H:i:s') : '' }}</td>#}
                {#<td>{{ employee.updated ? employee.updated|date('Y-m-d H:i:s') : '' }}</td>#}


                {#<td>#}
                    {#<a href="{{ path('employee_show', {'id': employee.id}) }}">show</a>#}
                    {#<a href="{{ path('employee_edit', {'id': employee.id}) }}">edit</a>#}
                {#</td>#}
            {#</tr>#}
        {#{% else %}#}
            {#<tr>#}
                {#<td colspan="4">no records found</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

    {#<a href="{{ path('employee_new') }}">Create new</a>#}
{% endblock %}