{% extends 'base.html.twig' %}

{% block title %}Employee{% endblock %}

{% block body %}

    <div class="row space1 ">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Employee personal info
                </div>
            </div>
        </div>
    </div>
    <div class="row space1 padding-left">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>
                        <b>First Name: </b>{{ employee.firstName }}
                    </div>
                    <div>
                        <b>Last Name: </b>{{ employee.lastName }}
                    </div>
                    <div>
                        <b>Department: </b>{{ employee.department.title }}

                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="row space1 ">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Employee devices
            </div>
        </div>
    </div>
</div>

            {% for device in devices %}
        <div class="row space1 padding-left">
            <div class="col-md-12">
                 <div class="panel panel-default">
                      <div class="panel-heading">
                        {{ device.typeDevice.title }} {{ device.model }}
                           <span class="pull-right clickable panel-toggle panel-button-tab-left"><em
                            class="fa fa-toggle-up"></em></span>
                      </div>
                       <div class="panel-body">
                           <div>
                               <b>Type device: </b>
                               {{ device.typeDevice.title }}
                           </div>
                           <div>
                               <b>
                                   Manufacturer:
                               </b>
                               {{ device.manufacturer.title }}
                           </div>
                           <div>
                               <b>
                                   Model:
                               </b>
                               {{ device.model }}
                           </div>
                           <div>
                               <b>
                                   Price:
                               </b>
                               {{ device.price }} MDL
                           </div>
                           <div>
                               <b>
                                   State:
                               </b>
                               {{ device.state.title }}
                           </div>
                           <div>
                               <b>
                                 Invoice:
                               </b>
                               {{ device.invoice.title }}
                           </div>

                       </div>
                 </div>
            </div>
        </div>

    {% else %}
        no records found

    {% endfor %}
{% endblock %}

    {#{% block body %}#}
    {#<h1>Employee</h1>#}

    {#<table class="table">#}
    {#<tbody>#}
    {#<tr>#}
    {#Id<#}
    {#<td>{{ employee.id }}</td>#}
    {#</tr>#}
    {#<tr>#}
    {#FirstName<#}
    {#<td>{{ employee.firstName }}</td>#}
    {#</tr>#}
    {#<tr>#}
    {#LastName<#}
    {#<td>{{ employee.lastName }}</td>#}
    {#</tr>#}
    {#<tr>#}
    {#Created<#}

    {#<td>{{ employee.created ? employee.created|date('Y-m-d H:i:s') : '' }}</td>#}
    {#</tr>#}
    {#<tr>#}
    {#Updated<#}

    {#<td>{{ employee.updated ? employee.updated|date('Y-m-d H:i:s') : '' }}</td>#}
    {#</tr>#}
    {#<tr>#}
    {#Department<#}

    {#<td>{{ employee.department.title}}</td>#}
    {#</tr>#}
    {#</tbody>#}
    {#</table>#}

    {#<a href="{{ p'employee_index') }}">back to list</a>#}

    {#<a href="{{ p'employee_edit', {'id': employee.id}) }}">edit</a>#}

    {#{{ include('employee/_delete_form.html.twig') }}#}
{#{% endblock %}#}