<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/blog.css') }}" rel="stylesheet"/>
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('favicon/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('favicon/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('favicon/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('favicon/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('favicon/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('favicon/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('favicon/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('favicon/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('favicon/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon/favicon-32x32.png') }}">

        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/datepicker3.css') }}" rel="stylesheet">
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet">

        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i"
              rel="stylesheet">

{#login#}

        <!--[if lt IE 9]>
        <script src="{{ asset('js/html5shiv.js') }}"></script>
        <script src="{{ asset('js/respond.min.js') }}"></script>
        <![endif]-->


    {% endblock %}
</head>
<body>
{% block loader %}

{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span></button>
                <a class="navbar-brand" href="#"><span>Inventory</span>Admin</a>
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                            <em class="fa fa-user-circle-o"></em>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li><a href="{{ path('user_edit', {'id':app.user.id}) }}">
                                    <div><em class="fa fa-cog"></em> Personal account</div>
                                </a></li>
                            <li class="divider"></li>

                            <li>
                                <a href="{{ logout_path() }}"><em class="fa fa-power-off">&nbsp;</em> Logout</a>
                            </li>


                        </ul>

                    </li>

                </ul>
            </div>
        </div><!-- /.container-fluid -->
    </nav>

{% endblock %}
{% block sidebar %}
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <div class="profile-sidebar">
            <div class="profile-userpic">
                <link href="{{ asset('css/styles.css') }}" rel="stylesheet">

                <img src="{{ asset('images/sveta.jpg') }}" class="img-responsive" alt="userimage">
            </div>
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">
                    {{ app.user.username }}</div>
                <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="divider"></div>

        <ul class="nav menu">
            <li class="{{ app.request.get('_route') == 'dashboard' ? 'active' }}"><a href="{{ path('dashboard') }}"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a>
            </li>
            <li class="{{ app.request.get('_route') == 'device_index' ? 'active' }}"><a href="{{ path('device_index') }}"><em class="fa fa-desktop">&nbsp;</em> Devices</a></li>
            <li class="{{ app.request.get('_route') == 'type_device_index' ? 'active' }}"><a href="{{ path('type_device_index') }}"><em class="fa fa-server">&nbsp;</em> Device types</a></li>
            <li class="{{ app.request.get('_route') == 'device_property_index' ? 'active' }}"><a href="{{ path('device_property_index') }}"><em class="fa fa-cogs">&nbsp;</em> Device properties</a>
            </li>
            <li class="{{ app.request.get('_route') == 'manufacturer_index' ? 'active' }}"><a href="{{ path('manufacturer_index') }}"><em class="fa fa-university">&nbsp;</em> Manufacturers</a>
            </li>
            <li class="{{ app.request.get('_route') == 'state_index' ? 'active' }}"><a href="{{ path('state_index') }}"><em class="fa fa-th-list">&nbsp;</em> States</a></li>
            <li class="{{ app.request.get('_route') == 'invoice_index' ? 'active' }}"><a href="{{ path('invoice_index') }}"><em class="fa fa-file-o">&nbsp;</em> Invoices</a></li>
            <li class="{{ app.request.get('_route') == 'department_index' ? 'active' }}"><a href="{{ path('department_index') }}"><em class="fa fa-sitemap">&nbsp;</em> Departments</a></li>
            <li class="{{ app.request.get('_route') == 'employee_index' ? 'active' }}"><a href="{{ path('employee_index') }}"><em class="fa fa-users">&nbsp;</em> Employees</a></li>
            <li class="{{ app.request.get('_route') == 'article_index' ? 'active' }}"><a href="{{ path('article_index') }}"><em class="fa fa-newspaper-o">&nbsp;</em>Articles</a></li>
        </ul>
    </div><!--/.sidebar-->



{% endblock %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">


    {% block body %}
    {% endblock %}
</div>
{% block javascripts %}
    <script src="{{ asset('js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/chart.min.js') }}"></script>
    <script src="{{ asset('js/chart-data.js') }}"></script>
    <script src="{{ asset('js/easypiechart.js') }}"></script>
    <script src="{{ asset('js/easypie1chart-data.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('js/custom.js') }}"></script>
    <script src="{{ asset('js/loader.js') }}"></script>
{#login#}
    <script src="{{ asset('vendor/jquery/jquery-3.2.1.min.js')}}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('vendor/bootstrap/js/popper.js ')}}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js ')}}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('vendor/select2/select2.min.js ')}}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('vendor/tilt/tilt.jquery.min.js ')}}"></script>
    <script >
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <script src="{{ asset('js/login/main.js') }}"></script>

    {#<script>#}
    {#window.onload = function () {#}
    {#var chart1 = document.getElementById("line-chart").getContext("2d");#}
    {#window.myLine = new Chart(chart1).Line(lineChartData, {#}
    {#responsive: true,#}
    {#scaleLineColor: "rgba(0,0,0,.2)",#}
    {#scaleGridLineColor: "rgba(0,0,0,.05)",#}
    {#scaleFontColor: "#c5c7cc"#}
    {#});#}
    {#};#}
    {#</script>#}

{% endblock %}
</body>
</html>
