{% extends 'base.html.twig' %}

{% block title %}TypeDevice index{% endblock %}

{% block body %}
    <div class="col-md-12">


        <h1>Device types list</h1>
        <a href="{{ path('type_device_new') }}" class="btn btn-pull-right">
            <button class="btn btn-sm btn-success"><em class="glyphicon glyphicon-plus"></em>Add device type</button>
        </a>

        <table class="table table-striped">
            <thead>
            <tr>

                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Created</th>
                <th scope="col">Updated</th>

                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for type_device in type_devices %}
                <tr>

                    <td scope="row">{{ type_device.id }}</td>
                    <td>{{ type_device.title }}</td>
                    <td>{{ type_device.created|date('d') }} {{ type_device.created|date('M') }} {{ type_device.created|date('Y') }}</td>
                    {% if type_device.updated %}
                        <td>{{ type_device.updated|date('d') }} {{ type_device.updated|date('M') }} {{ type_device.updated|date('Y') }}</td>
                    {% else %}
                        <td>{{ '' }}</td>
                    {% endif %}


                    <td>
                        <a href="{{ path('type_device_show', {'id': type_device.id}) }}">
                            <button class="btn btn-sm btn-info"><em class="fa fa-share"></em>View</button>
                        </a>
                        <a href="{{ path('type_device_edit', {'id': type_device.id}) }}" >
                            <button class="btn btn-sm btn-warning"><em class="fa fa-pencil-square-o"></em>Edit</button>
                        </a>

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {#<h1>TypeDevice index</h1>#}

    {#<table class="table">#}
        {#<thead>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<th>Title</th>#}
                {#<th>Created</th>#}
                {#<th>Updated</th>#}

                {#<th>actions</th>#}
            {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for type_device in type_devices %}#}
            {#<tr>#}
                {#<td>{{ type_device.id }}</td>#}
                {#<td>{{ type_device.title }}</td>#}
                {#<td>{{ type_device.created ? type_device.created|date('Y-m-d H:i:s') : '' }}</td>#}
                {#<td>{{ type_device.updated ? type_device.updated|date('Y-m-d H:i:s') : '' }}</td>#}

                {#<td>#}
                    {#<a href="{{ path('type_device_show', {'id': type_device.id}) }}">show</a>#}
                    {#<a href="{{ path('type_device_edit', {'id': type_device.id}) }}">edit</a>#}
                {#</td>#}
            {#</tr>#}
        {#{% else %}#}
            {#<tr>#}
                {#<td colspan="3">no records found</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

    {#<a href="{{ path('type_device_new') }}">Create new</a>#}
{% endblock %}