{% extends 'base.html.twig' %}

{% block title %}TypeDevice{% endblock %}

{% block body %}
    <h1>TypeDevice</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_device.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ type_device.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_device_index') }}">back to list</a>

    <a href="{{ path('type_device_edit', {'id': type_device.id}) }}">edit</a>

    {{ include('type_device/_delete_form.html.twig') }}
{% endblock %}