{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    {#<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">#}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('homepage') }}">
                    <em class="fa fa-home"></em>
                </a></li>
            <li class="active">Dashboard</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
    </div><!--/.row-->
    <div class="col-md-6">

        <div class="panel panel-default">
            <div class="panel-heading">

                Your daily tasks
                <ul class="pull-right panel-settings panel-button-tab-right">
                    <li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
                            <em class="fa fa-cogs"></em>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <ul class="dropdown-settings">
                                    <li><a href="{{ path('task_new') }}">
                                            <em class="glyphicon glyphicon-plus"></em> Add new task
                                        </a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('task_index') }}">
                                            <em class="fa fa-list"></em> View all list of task
                                        </a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <span class="pull-right clickable panel-toggle panel-button-tab-left"><em
                            class="fa fa-toggle-up"></em></span>
            </div>


            <div class="panel-body">


                <ul class="todo-list">
                    {% for task in tasks %}

                        <a href="{{ path('task_edit', {'id': task.id} ) }}">
                            <li class="todo-list-item">
                                <div class="checkbox">

                                    {% if task.checked %}
                                        <span><em class="glyphicon glyphicon-check"></em></span>
                                        <label for="checkbox-{{ task.id }}"><strike>{{ task.title }}</strike></label>

                                    {% else %}

                                        <span><em class="glyphicon glyphicon-unchecked"></em></span>        {#<input type="checkbox" id="checkbox-{{ task.id }}"/>#}
                                        <label for="checkbox-{{ task.id }}">{{ task.title }}</label>

                                    {% endif %}
                                </div>


                            </li>

                        </a>
                    {% else %}
                        <div class="alert bg-info" role="alert"><em class="fa fa-lg fa-warning">&nbsp;</em>
                            No records found
                        </div>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Calendar
                <span class="pull-right clickable panel-toggle panel-button-tab-left"><em
                            class="fa fa-toggle-up"></em></span></div>
            <div class="panel-body">
                <div id="calendar"></div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default articles">
                <div class="panel-heading">
                    News for staff
                    <ul class="pull-right panel-settings panel-button-tab-right">
                        <li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
                                <em class="fa fa-cogs"></em>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <ul class="dropdown-settings">
                                        <li><a href="{{ path('article_new') }}">
                                                <em class="glyphicon glyphicon-plus"></em> Add new article
                                            </a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ path('article_index') }}">
                                                <em class="fa fa-list"></em> View all articles
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <span class="pull-right clickable panel-toggle panel-button-tab-left"><em
                                class="fa fa-toggle-up"></em></span></div>
                <div class="panel-body articles-container">
                    {% for article in articles %}
                        <div class="article border-bottom">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-2 col-md-2 date">
                                        <div class="large">{{ article.created|date('d') }}</div>
                                        <div class="text-muted">{{ article.created|date('M') }}</div>
                                    </div>
                                    <div class="col-xs-10 col-md-10">
                                        <h4>
                                            <a href="{{ path('article_show', {'id': article.id}) }}">{{ article.title }}</a>
                                        </h4>
                                        <p>{{ article.description }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div><!--End .article-->
                    {% else %}
                        <div class="alert bg-info" role="alert"><em class="fa fa-lg fa-warning">&nbsp;</em>
                            No records found
                        </div>

                    {% endfor %}
                </div><!--End .articles-->
            </div>
        </div>

    {#</div>#}

{% endblock %}