{% extends 'base.html.twig' %}

{% block title %}News for staff{% endblock %}

{% block body %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('homepage') }}">
                    <em class="fa fa-home"></em>
                </a></li>
            <li class="active">News for staff</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">News for staff</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default articles">
                <div class="panel-heading">
                    News for staff
                 </div>
                <div class="panel-body articles-container">
                    {% for article in articles %}
                        <div class="article border-bottom">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-2 col-md-2 date">
                                        <div class="large">{{ article.created|date('d') }}</div>
                                        <div class="text-muted">{{ article.created|date('M') }}</div>
                                    </div>
                                    <div class="col-xs-10 col-md-10">
                                        <h4>
                                            <a href="{{ path('article_show', {'id': article.id}) }}">{{ article.title }}</a>
                                        </h4>
                                        <p>{{ article.description }}</p>
                                    </div>
                                </div>
                            </div>
                            <a href="{{ path('article_show', {'id': article.id}) }}">show</a>
                            <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>

                            <div class="clear"></div>

                        </div><!--End .article-->
                        {% else  %}
                            <div class="alert bg-info" role="alert"><em class="fa fa-lg fa-warning">&nbsp;</em>
                                No records found
                            </div>

                    {% endfor %}
                </div><!--End .articles-->
            </div>


            {#test table#}
    <div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Data Table</div>
            <div class="panel-body">
                <table data-toggle="table" data-url="tables/data1.json"  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                    <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true" >Item ID</th>
                        <th data-field="id" data-sortable="true">Item ID</th>
                        <th data-field="name"  data-sortable="true">Item Name</th>
                        <th data-field="price" data-sortable="true">Item Price</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Basic Table</div>
            <div class="panel-body btn-margins">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Col 1</th>
                            <th>Col 2</th>
                            <th>Col 3</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Col 1</td>
                            <td>Col 2</td>
                            <td>Col 3</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Col 1</td>
                            <td>Col 2</td>
                            <td>Col 3</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Col 1</td>
                            <td>Col 2</td>
                            <td>Col 3</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- /.panel-->
        </div>

    {#<table class="table">#}
    {#<thead>#}
    {#<tr>#}
    {#<th>Author</th>#}
    {#<th>Id</th>#}
    {#<th>Title</th>#}
    {#<th>Author</th>#}
    {#<th>Description</th>#}
    {#<th>Created</th>#}
    {#<th>Updated</th>#}
    {#<th>actions</th>#}
    {#</tr>#}
    {#</thead>#}
    {#<tbody>#}
    {#{% for article in articles %}#}
    {#<tr>#}
    {#<td>{{ article.author }}</td>#}
    {#<td>{{ article.id }}</td>#}
    {#<td>{{ article.title }}</td>#}
    {#<td>{{ article.author.lastName }} {{ article.author.firstName }}</td>#}

    {#<td>{{ article.description }}</td>#}
    {#<td>{{ article.created ? article.created|date('Y-m-d H:i:s') : '' }}</td>#}
    {#<td>{{ article.updated ? article.updated|date('Y-m-d H:i:s') : '' }}</td>#}
    {#<td>#}
    {#<a href="{{ path('article_show', {'id': article.id}) }}">show</a>#}
    {#<a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>#}
    {#</td>#}
    {#</tr>#}
    {#{% else %}#}
    {#<tr>#}
    {#<td colspan="7">no records found</td>#}
    {#</tr>#}
    {#{% endfor %}#}
    {#</tbody>#}
    {#</table>#}

    {#<a href="{{ path('article_new') }}">Create new</a>#}
{% endblock %}