{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block navbar %}New User{% endblock %}

{% block sidebar %}New User{% endblock %}


{% block body %}

    <section class="padding-60px-tb xs-padding-60px-tb bg-white builder-bg" id="subscribe-section6">
        <div class="container">
            <div class="row">
                <div class="col-md-8 center-col col-sm-12 text-center">
                    <h2 class="title-extra-large-2 alt-font xs-title-large text-sky-blue-dark margin-four-bottom tz-text">
                      Register
                    </h2>
                    <div class="text-extra-large sm-text-extra-large text-medium-gray width-80 xs-width-100 center-col margin-twelve-bottom xs-margin-nineteen-bottom tz-text">
                   Register yourself into web admin platform. Enter your data bellow and follow the instruction.
                    </div>
                </div>
                <div class="col-md-6 center-col col-sm-12 text-center">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="contact-submit btn btn-extra-large2 propClone bg-deep-green btn-3d text-white width-100 builder-bg tz-text">
                        {{ button_label|default('Register') }}
                    </button>
                    <div class="margin-seven-top text-small2 sm-width-100 center-col tz-text xs-line-height-20">
                        *If you had already submited this form
                        <a href="{{ path('login') }}" class="text-decoration-underline tz-text">Log in</a>
                        in the web platform.
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}